body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    font-size: 1rem;
}


/* main container */
.whole {
    margin: 2.5rem auto 0;
    width: 320px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 3%;
    padding: 1rem;
}


/* logo section */
.logo {
    position: relative;
}


.logo .icon-equilibrium {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    position: absolute;
    z-index: 1;
}

.logo .icon-equilibrium:hover {
    opacity: 0.4;
}

.view {
    background-color: hsl(178, 100%, 50%);
    text-align: center;
    padding: 40%;
    position: relative;
    border-radius: 3%;
}

   

h3 {
    color: white;
}

h3:hover {
    color: hsl(178, 100%, 50%);
}

p {
    color: hsl(215, 51%, 70%);
}


/* info section */

.icon-ethereum img, .icon-ethereum p{
    color:  hsl(178, 100%, 50%);
}

.icon-ethereum {
    display: flex;
    align-items: center;
}

.icon-clock {
    display: flex;
    align-items: center;
}

.info img {
    margin-inline: 0.5rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: thin solid hsl(215, 32%, 27%);
}


/* footer section */

.footer {
    display: flex;
    align-items: center;
}

.footer img {
    width: 10%;
    margin-right: 10px;
}

span {
    color: white;
}

span:hover {
    color: hsl(178, 100%, 50%);
}


/* attribution section */
.attribution { 
    font-size: 11px; 
    text-align: left;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* media query */

@media screen and (max-width: 1440px) {
    .whole {
        width: 320px;
    }
}

@media screen and (max-width: 425px) {
    .attribution {
        display: none;
    }
}
